@if (!load) {
<app-loader></app-loader>
}

@else {
@if (user) {




<!-- Profile Section -->

<section class="max-w-screen-lg mx-auto p-6  bg-base-200 rounded-lg">

  <div class="flex items-center mb-6">

    <div class="w-24 h-24  rounded-full overflow-hidden">

      <img src="{{ user.data.photoURL }}" alt="Avatar of {{ user.data.displayName }}">

    </div>

    <div class="ml-6">

      <h2 class="text-2xl font-bold">{{ user.data.displayName }}</h2>

      <p class="">{{ user.data.email }}</p>

      <button class="btn  btn-sm mt-2 bg-neutral">Edit profile</button>

      <p class="mt-6"> Member since: <span class="italic">{{ user.data.createdAt | date:'dd/MM/yyyy h:mm:ss a' }}</span></p>

    </div>

  </div>

</section>


}

}

<!-- <app-loader></app-loader> -->